@font-face{
  font-family: 'Arcade';
  src: url(Font/arcadeclassic.regular.ttf);
}

body{
  margin:0;
  padding:0;
  background-image: url('images/htmlbg.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-family: Arcade;
  font-size: 1.5em;
}

h1{
  color:white
}

#buttons{
  display: flex;
  flex-direction: row;
}

#logo{
  margin-top: 7vh;
}

.btn{
  margin: 5vh 5vw;
  width: 180px;
  height: 60px;
  color:white;
  padding-top:35px;
  flex:1;
  text-align: center;
}

.player1{
  background-color:red;
}

.player2{
  background-color: green;
}

.player1:hover{
  cursor: pointer;
  background-color: darkred;
}

.player2:hover{
  cursor: pointer;
  background-color: darkgreen;
}

#player1instr{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8vw;
}

.player1:hover{
  cursor: pointer;
  background-color: darkred;
}

#player2instr{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#instructions{
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
}

canvas{
  display:none;
  margin-top: 5vh;
}